<h1><%= @product.name() %> <%='%.2f' % @product.price()%></h1>
<% if @product.purchased() %>
  <p>This product has been purchased </p>
<% else %>
  <p>This product is available for purchase</p>
<% end %>
  <a href="/products/<%= @product.id()%>/edit">Update <%= @product.name()%> Information</a>
  <br>
  <form action="/products/<%= @product.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete <%= @product.name() %></button>
  </form>
  <br>
<a href="/">Home</a>
